# np        https://numpy.org/
numpy

# PIL       https://python-pillow.org/
pillow

# Pandas    https://pandas.pydata.org/
pandas

# mp        https://matplotlib.org/
matplotlib

# sb        https://seaborn.pydata.org/
seaborn

#PyTorch
torch       # https://pytorch.org/
torchvision # https://pytorch.org/
torchaudio  # https://pytorch.org/
torchtext   # https://pytorch.org/

# tf
tensorflow  # https://www.tensorflow.org/

# Theano    http://www.deeplearning.net/software/theano/
theano

# DyNET     http://dynet.io/
dynet.io

# Jupyter   https://jupyter.org/
# jupyterlab
# notebook
# voila
