# np          https://numpy.org/
numpy

# PIL        https://python-pillow.org/
pillow

# Pandas     https://pandas.pydata.org/
pandas

# mp         https://matplotlib.org/
matplotlib

# sb          https://seaborn.pydata.org/
seaborn

#PyTorch      https://pytorch.org/
torch
torchvision
torchaudio
torchtext

# tf          https://www.tensorflow.org/
# tensorflow

# Theano      http://www.deeplearning.net/software/theano/
# theano

# Jupyter     https://jupyter.org/
# jupyterlab
# notebook
# voila
